@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"), url(./Fonts/PokemonHollow.ttf) format("truetype");
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"), url(./Fonts/PokemonSolid.ttf) format("truetype");
}

.background {
  background-image: url("./Images/backgroundNature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
